app_identifier("your.bundle.id") # The bundle identifier of your app
apple_id("your.apple.id") # Your Apple email address

itc_team_id("app store connect team id") # App Store Connect Team ID
team_id("developer portal team id") # Developer Portal Team ID

# For more information about the Appfile, see:
#     https://docs.fastlane.tools/advanced/#appfile
